body, html{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right,  #211204, #162103);
    color:lightgray;
    font-family: 'Playfair Display', serif;

}

/* Header */

.header{
    background-image: url("../public/images/books.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-img{
    height:450px;
    width: 100%;
    background-position: center;
}

.header-text{
    text-align: center;
    margin-top: 7rem;
}

/* gifs */

.home-gif-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.home-gif{
    width: 70%;
    max-width: 70%;
    max-height: 50%;
}

.no-books-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.no-books-gif{
    width:70%;
    max-width: 70%;
}

/* Main Content */

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 12rem;
    padding: .3rem;
    text-align: center;
    margin: 0 1em;
    margin-bottom: 20px;
    background-color: #211204;
    box-shadow: 1px 1px 9px 5px  #150C05;
    border-radius: .5rem;
}

.search-container{
   text-align: center;
   margin: 1em 0;
}

.search-box{
    width: 75%;
    padding: .5rem;
}

/* Books */

.book-img-container{
    display: flex;   
    align-self: flex-start;
    justify-content: center;
    
}

.book-img{
    max-height: 120px;
    height: 120px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: left;
    margin-bottom: 1rem;
}

.book-img:hover{
    transform: scale(1.1)
}

.book-info{
    margin-top: -130px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:1rem;
    
}

.title-link{
    color:lightgray;
    text-decoration: none;
    
}

.title:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.title,
.sub-title{
    text-align: center;
    margin: 0;
    font-size: 1rem;
    padding-bottom: 5px;
}

.rating{
    margin-top:5px;
    padding-bottom: 1rem;
    font-style: italic;
}

.sub-title{
    font-style: italic;
    margin-top:5px;
}

.rating-container{
    padding-right:1rem;
    text-align: right;
    
}

.author{
    font-size: .9rem;
    font-style: italic;
    margin-top: -2rem;
    color: lightgray;
}

.author-id{
    font-weight: bolder;
    font-style: normal;
}

input{
    background-color: #211204;
    border-radius: 8px;
}

input,
textarea{
    color:whitesmoke;
}

input:hover,
input:focus{
    background-color: #231804;
}

/* Buttons */

button{
    cursor: pointer;
}

.header-btns{
    display: flex;
    justify-content: end;
    align-self:flex-end;
    margin-right: 1rem;
}

.header-btn{
    border: none;
    background-color: transparent;
    font-size: x-large;
}

.header-btn,
.header-text{
    color:rgb(197, 194, 194);
    text-shadow: 3px 1px rgb(0, 0, 0);
}

.header-btn:hover{
    transform: scale(1.1)
}

.readlist-btn{
    border: none;
    background-color: #172b0c;
    border-radius: 20px;
    color: lightgray;
    padding: .5rem 1rem;
}

.readlist-btn:hover{
    background-color: rgb(52, 92, 52);
}

/* Media Queries */
@media(max-width: 1265px){
    li{
        width:25%;
    }
}

@media (max-width: 950px){
    li{
        padding: 0 1rem;
        width:60%
    }
}

@media (max-width: 700px){
    li{
        display: flex;
        
    }
}

@media (max-width: 520px){


 

    .book-info{
        margin-right: 26px;
    }

    .book-img{
        margin-top: -1rem;
    }
}

@media (max-width: 450px){
    li{
        padding: 0 1.1rem;
    }
}

@media (max-width: 410px){
    li{
        padding: 0 1.8rem;
    }
}

@media(min-width: 1450px){
    li{
        width:20%;
    }

    .book-info{
        margin-right:35px;
    }
}
